@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    width: 100vw;
    height: auto;
}

main {
    background-color: #FFFFFF;
    width: 80vw;
    margin: auto ;
    margin-top: 3em;
}

main div {
    text-align: center;
}

body main div img {
    margin: auto auto;
}

#logos {
    margin-top: 3em;
}

#enter {
    width: 25%;
    margin: auto;
    cursor: pointer;
    background-color: blueviolet;
}

#enter:hover {
    background-color: #444444;
}

#enter a{
    text-decoration: none;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    color: #444444;
}

#enter a:hover {
    color: blueviolet;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.third {
    flex-grow: 1;
}