.btn {
  width: 100px;
  height: 50px;
  background-color: $gold;
}


//Run Button//
#btnRun {
  background-color: $mdgreen;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px;
}

#btnRun:hover {
  background-color:lighten(
    $mdgreen, 20%
  );
}

//Reset Button//
#btnReset {
  background-color: $gold;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px;
}

#btnReset:hover {
  background-color:lighten(
    $gold, 20%
  )
}